table,th, td{
  border:1px solid black;
  border-collapse: collapse;
  padding:10px;
}

.app {
  display:flex;
  flex-direction:row;
}

.insertmeal {
  border: 1px solid black;
  min-width:50%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.reclist{
  max-width:50%;
}

.reclisttable {
   width:100%;
 }
tr {
  text-decoration:underline;
  color:blue;
}

.tableheader {
  color:black;
  text-decoration: none;
}

.inputcontainer {
  padding:1%;
  height:48%;
  width:98%;
  display:flex;
  flex-direction:column;
}

.layer {
  display:flex;
  flex-direction:row;
  width:99.5%;
  padding:0.5%;
  font-weight:bold;
}

.english {
  width:45%;
}

.chinese {
  width:45%;
}

.react-datalist-input__label {
  font-weight:bold;
  font-size:18px;
}

.app.mobile {
  flex-direction: column;
}

.reclist.mobile {
  max-width:100%;
  width:100%;
}

.insertmeal.mobile {
  width:100%;
}

.insertinput {
  width:45%;
}

.insertsubmit {
  width:10%;
}